* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 10% 95%;   
    grid-template-areas: 
    "header header"
		"sidebar main";
		
    height: 100vh;
    margin: 0px;
}

header,
button {
    background-color: #1f1f3d;
}


header {
    grid-area: header;
    width: 100%;
}

h1 {
    align-self: center;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0px 10px 0px 0px;
    padding-left: 10px;
    width: 32%;
}

h2 {
	border-bottom: 2px solid#c7d3d8;
	color: #1f1f3d;
	font-weight: 600;
	height: 50px;
	margin: 0px;
	padding: 10px;
	width: 100%;

}

span {
    color: #fec40e;
}

aside {
    background-color: #5878ab;
    grid-area: sidebar;
}

main {
		background-color: #f3f6f7;
		grid-area: main;
}

section {
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
}

button {
	border-radius: 5px;
	font-weight: 600;
}

button,
input {
	border-color: #1f1f3d;

}

label {
	color: #f3f6f7;
}

ul {
	flex-wrap: wrap;
	height: fit-content;
	list-style: none;
	padding-bottom: 10px;
}

li {
	color: #1f1f3d;
	font-size: 20px;
	width: 100%;
}

form,
button,
label,
.form-title-input,
.form-item-input {
    margin: 10px;
}

h1,
button {
color: #fff;
}

button,
.form-title-input,
.form-item-input {
	height: 50px;
	width: 95%;
}

.flex {
    display: flex;
}

.div-search-input {
    justify-content: flex-end;
    margin-left: 23%;
    width: 43%;
}

.header-search-input {
	align-self: center;
	background: url('images/search.svg') no-repeat #fff;
  background-position-x: 2px;
  background-position-y: center;
  background-size: 25px;
	height: 40px;
  padding-left: 40px;
	width: 70%;
}

.append-card {
	border: 2px solid #c7d3d8;
	flex-wrap: wrap;
	height: fit-content;
	margin: 10px;
	width: 45%;

}

.form-item-input {
	background: url('images/plus.svg'), linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(31,31,61,1) 85%, rgba(31,31,61,1) 100%);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-plus-icon {
	height: 13%;
	width: 24%;
	position: relative;
	top: 15%;
	left: 74%;
}

.form-plus-icon:hover {
	cursor: pointer;
}

/* .article-list-item {

} */

.li-checkbox-image {
	height: 20px;
	width: 30px;
}

.article-urgent-svg,
.article-delete-svg {
	height: 30px;
	width: 30px;
}

.article-card-icons {
	justify-content: space-between;
	margin: 10px 20px 0px 18px;
	width: 100%;
}

.article-urgent-label,
.article-delete-label {
	color: #3c6577;
}

.article-card-icon-labels {
	justify-content: space-between;
	width: 100%;
}

.article-bottom-section {
	border-top: 2px solid #c7d3d8;
	flex-wrap: wrap;
}